$color-primary: #092477;
$color-secondary: #7392ed;
$color-tertiary: #5e80e7;
$color-accent: #e93203;
$color-headings: #1b0760;
$color-body: #918ca4;
$color-body-darker: #5c5577;
$color-white: #fff;
$color-grey-light-1: #f7f7f7;
$color-white: #fff;
$color-black: #000;
$color-primary-hover: #092477;
$color-grey-dark-3: #333;
$color-back: #2204ba4d;
$color-screen: #0c277c;





// FONT
$default-font-size: 1.6rem;
