<section class="about">
  <div class="about__left-col">
    <img src="../img/about.jpg" alt="our cloud image" />
  </div>
  <div class="about__right-col">
    <div class="about__text">
      <h1>Exciting Cloud Platform</h1>
      <span class="square"></span>
      <p>
        We are best in version control service, Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Et fuga, nesciunt eligendi minu
      </p>
      <br /><br />
      <div class="line">
        <span class="line-1"></span><br />
        <span class="line-2"></span><br />
        <span class="line-3"></span>
      </div>
      <h2>
        "Chioce of Scure and safe cloud is not attained by chanve, it must be
        sought for with ardor, diligent and attended to with high degree of
        commitment"
      </h2>
      <h3>----Tiaco; top notch</h3>
    </div>
  </div>
</section>
