<!--features-->
<section class="features">
  <div class="features__row">
    <div class="features__row-col">
      <img src="/../img/bulb.png" alt="cloud anywhere" />
      <h4>Cloud Anywhere</h4>
      <p>switching between your local repo to remote</p>
    </div>
    <div class="features__row-col">
      <img src="/../img/pic-2.png" alt="cloud anywhere" />
      <h4>Professionalism</h4>
      <p>Join the leaque of experts who are passionate rendering services.</p>
    </div>
    <div class="features__row-col">
      <img src="/../img/rocket.png" alt="cloud anywhere" />
      <h4>Always Active</h4>
      <p>switching between your local repo to remote</p>
    </div>
  </div>
  <div class="features-btn">
    <div class="line">
      <span class="line-1"></span><br />
      <span class="line-2"></span><br />
      <span class="line-3"></span>
    </div>
    <a href="#">
      <button class="btn">Start free Trials</button>
    </a>
  </div>
</section>
