<section class="section-feedback">
  <div class="tiaco-video">
    <video class="tiaco-video__content" autoplay muted loop>
      <source src="img/video.mp4" type="vidoe/mp4" />
      <source src="img/video.webm" type="video/webm" />
      Your browser is not supported!
    </video>
  </div>
  <div class="h-center-text u-margin-bottom-big">
    <h2 class="heading-secondary">Making clouding scure and friendly</h2>
  </div>

  <div class="row">
    <div class="feedback">
      <figure class="feedback__shape">
        <img
          src="img/background2.jpg"
          alt="Person on a tour"
          class="feedback__img"
        />
        <figcaption class="feedback__caption">Mary Janet</figcaption>
      </figure>
      <div class="feedback__text">
        <h3 class="heading-tertiary">Mary Janet</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta iure
          error explicabo expedita earum eum! Omnis harum aut ipsum quisquam?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta iure
          error explicabo expedita earum eum! Omnis harum aut ipsum quisquam?
        </p>

        <div class="u-center-text u-margin-top">
          <a href="#" class="feedback-btn">Read all stories &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="feedback">
      <figure class="feedback__shape">
        <img
          src="img/background1.jpg"
          alt="Person on a tour"
          class="feedback__img"
        />
        <figcaption class="feedback__caption">Dr. Rheson Raphael</figcaption>
      </figure>
      <div class="feedback__text">
        <h3 class="heading-tertiary">Dr. Rheson Raphael</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta iure
          error explicabo expedita earum eum! Omnis harum aut ipsum quisquam?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta iure
          error explicabo expedita earum eum! Omnis harum aut ipsum quisquam?
        </p>

        <div class="u-center-text u-margin-top">
          <a href="#" class="feedback-btn">Read all stories &rarr;</a>
        </div>
      </div>
    </div>
  </div>
</section>
