<!--footer-->
<section class="footer">
  <div class="container footer__row">
    <hr />
    <div class="footer__left-col">
      <div class="footer__links">
        <div class="footer__link-title">
          <h5>Product</h5>
          <small>our plan</small> <br />
          <small>Free Trial</small>
        </div>

        <div class="footer__link-title">
          <h5>About us</h5>
          <small>Download our Cli</small> <br />
          <small>FAQs</small>
        </div>

        <div class="footer__link-title">
          <h5>support</h5>
          <small>Feature</small> <br />
          <small>Contact us</small>
        </div>

        <div class="footer__link-title">
          <h5>Explore</h5>
          <small>Find a nonprofit</small><br />
          <small>Coporate Solutions</small>
        </div>
      </div>
    </div>
    <div class="footer__right-col">
      <div class="footer__info">
        <div class="copyright-text">
          <small class="">support@tiaco.org</small><br />
          <small class="">&copy; 2023 by Samuel Adeyemi</small>
        </div>

        <div class="footer__logo">
          <img src="img/tiaco1@.jpg" alt="tiaco logo" />
        </div>
      </div>
    </div>
  </div>
</section>
