<header class="header">
  <div class="header__box">
    <img src="img/tiaco.jpg" alt="Tiaco Logo" class="header__box-logo" />
  </div>

  <div class="header__text">
    <h1 class="header__text-major">secure and safe clouding</h1>
    <p class="header__text-minor">Secure your data at zero cost.</p>
    <a href="#">
      <button class="btn">Join Us</button>
    </a>
  </div>
  <picture class="header__image"
    ><img src="../img/banner@2x.webp" alt="" class="header__image-loop"
  /></picture>
</header>
