<!--User Input-->
<section class="contact">
  <div class="contact__row container">
    <div class="contact__left-col">
      <h3>
        Sign Up to join our <br />
        cloud community
      </h3>
      <form>
        <input type="text" placeholder="Enter Name" />
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="password" />
        <div class="btn-box">
          <button class="btn">Sign Up</button>
          <button class="btn">Free Trial</button>
        </div>
      </form>
    </div>
    <div class="contact__right-col">
      <img src="img/contact.png" alt="" class="" />
    </div>
    <div class="line">
      <span class="line-1"></span><br />
      <span class="line-2"></span><br />
      <span class="line-3"></span>
    </div>
  </div>
</section>
