/*---------Social-icons------*/
.social-icons {
    width: 5rem;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;


    img{
        display: block;
        width: 2rem;
        margin: 0 auto 2rem;
        cursor: pointer;
    }

}