.features {
    padding: 9rem 0 2rem;

    &__row {
        width: 100%;
        margin:auto;
        display: flex;
        align-items:center;
        justify-content: space-around;
        flex-wrap: wrap;

        &-col {
            flex-basis: 25%;
            text-align: center;
            
            img{
                width: 10rem;
            }

            h4{
                margin-bottom: 1.5rem;
                font-size: 2rem;
                font-weight: 400;
            }
        }
    }

    &-btn {
        margin: 8rem auto 0;
        display: flex;
        align-items: flex-end;
        width:fit-content;
        justify-content: fit-content;

        .line {
            text-align: right;
            display:inline-block;
            margin-right: 2.5rem;

            @include respond(phone) {
                display: none;
            } 

        }

    }
}

